force-app/main/default/flows/Process_The_SMS_Message_PE2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Like Content, Sender, ReceivedAt and Device Info.</description>
        <name>Assign_Values_to_Variables</name>
        <label>Assign Values to Variables</label>
        <locationX>704</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>SMS_CONTENT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMS_SENDER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMS_RECEIVED_AT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Received_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMS_DEVICE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Device__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Sender</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>See if its from a bank or not</description>
        <name>Determine_Sender</name>
        <label>Determine Sender</label>
        <locationX>704</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>HDFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinPlan__Sender__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HDFC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Type</targetReference>
            </connector>
            <label>HDFC</label>
        </rules>
        <rules>
            <name>SBI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinPlan__Sender__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SBI</stringValue>
                </rightValue>
            </conditions>
            <label>SBI</label>
        </rules>
        <rules>
            <name>ICICI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMS_SENDER</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ICICI</stringValue>
                </rightValue>
            </conditions>
            <label>ICICI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Type</name>
        <label>Determine Type</label>
        <locationX>176</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>Promotional</defaultConnectorLabel>
        <rules>
            <name>Credit_HDFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMS_CONTENT</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>deposited, Money Received, credited to a/c XXXXXX9560</stringValue>
                </rightValue>
            </conditions>
            <label>Credit</label>
        </rules>
        <rules>
            <name>Debit_HDFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMS_CONTENT</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>debited, paying, spent, Transferred, withdrawn, </stringValue>
                </rightValue>
            </conditions>
            <label>Debit</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the SMS Created? If yes, end the process for now.</description>
        <name>End_The_process</name>
        <label>End The process</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Process The SMS Message PE2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process The SMS Message PE2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_Records</name>
        <label>Create SMS Records</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>End_The_process</targetReference>
        </connector>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>$Record.Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_From__c</field>
            <value>
                <elementReference>$Record.Created_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device__c</field>
            <value>
                <elementReference>$Record.Device__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_At__c</field>
            <value>
                <elementReference>$Record.Received_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sender__c</field>
            <value>
                <elementReference>$Record.Sender__c</elementReference>
            </value>
        </inputAssignments>
        <object>SMS_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_SMS_Records</targetReference>
        </connector>
        <object>SMS_Message_PE__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SMS_CONTENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMS_DEVICE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMS_RECEIVED_AT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMS_SENDER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_BALANCE_UPDATE_MSG_HDFC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SMS_Message_PE__e</objectType>
    </variables>
    <variables>
        <name>VAR_MESSAGE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_SMSType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
